#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.universal-container {
  height: 100vh;
  width: 100%; /*<<<<---------*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*========= HEADER TOOLBAR =========*/

#header {
  display: flex;
  flex-direction: row;
  width: 100%; /*<<<<---------*/
}

.header-toolbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.header-toolbar h1 {
  margin-left: 30px;
}

.header-logo-link,
.header-logo-link:visited {
  text-decoration: none;
  color: inherit;
}

.header-toolbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
}

.header-info {
  width: 50%;
}

#main-content-container {
  display: flex;
  flex-direction: column;
  width: 100%; /*<<<<---------*/
}

.header-logo h1 {
  margin-bottom: 0px;
  margin-top: 15px;
}
.header-logo p {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: bold;
}

.header-logo span {
  color: #646cff;
  border: 1px #646cff solid;
}

/*========= ARTICLE TILES =========*/

.article-tile,
.article-tile img {
  width: 100%; /*<<<<---------*/
}

.article-tile {
  margin-bottom: 30px;
}

.article-tile-info {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
  padding-left: 15px;
}

.article-tile-info > * {
  margin-bottom: 0px;
}

.article-tile-title {
  padding-left: 15px;
  text-align: left;
  margin-top: 0;
}

.article-tile-author {
  text-align: left;
  font-weight: bold;
}

.article-tile-thumbs-up-icon,
.article-tile-comment-icon {
  margin-left: 10px;
}

.article-tile-author-link {
  color: inherit;
}

.header-login-button {
  /* width: 100%;
  height: 100%; */
  padding-right: 50px;
}

.header-login-button button {
  background-color: #646cff;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  border: 1px rgb(0, 0, 0) solid;
}

/*========= ARTICLE PAGE =========*/

#article-container {
  width: 100%;
}

#article-container img {
  width: 100%;
}

.loading-msg-container {
  display: flex;
  justify-content: center;
  padding-top: 40%;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
}

.article-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.like-dislike-button {
  display: flex;
  padding-right: 15px;
  gap: 0 10px;
}

.like-dislike-button * {
  margin-bottom: 5px;
}

.article-page-author-link {
  padding-left: 20px;
  color: inherit;
  font-weight: bold;
}

.article-body {
  text-align: justify;
  padding: 0 15px;
}

.article-comments-container {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
}

.article-comments-container input {
  width: 70%;
  height: 25%;
  border-radius: 10px;
  border: 0px;
  background-color: #f3f3f3;
  padding-left: 5px;
}
