#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.universal-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*========= HEADER TOOLBAR =========*/

#header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-toolbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.header-toolbar h1 {
  margin-left: 30px;
}

.header-logo-link,
.header-logo-link:visited {
  text-decoration: none;
  color: inherit;
}

.header-toolbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
}

.header-info {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.header-info img {
  width: 25%;
  height: 25%;
  margin-right: 15px;
  border-radius: 50%;
  border: 3px #646cff solid;
}

.header-name-username {
  text-align: left;
  padding-right: 20px;
}

#main-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-logo h1 {
  margin-bottom: 0px;
  margin-top: 25px;
}
.header-logo p {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: bold;
}

.header-info p span {
  color: #646cff;
  font-weight: bold;
}

.header-logo span {
  color: #646cff;
  border: 1px #646cff solid;
}

/*========= ALL ARTICLES / HOMEPAGE =========*/

.article-tile,
.article-tile img {
  width: 100%;
}

.article-tile {
  margin-bottom: 30px;
}

.article-tile-info {
  display: flex;
  flex-direction: row;
  gap: 0 10px;

  justify-content: space-between;
}

.article-tile-info > * {
  margin-bottom: 0px;
}

.article-tile-title {
  padding-left: 15px;
  text-align: left;
  margin-top: 0;
}

.article-tile-author {
  text-align: left;
  font-weight: bold;
  color: #646cff;
}

.article-tile-like-dislike-button-container {
  display: flex;
  gap: 0 5px;
  padding-right: 25px;
}

.article-tile-like-dislike-button {
  display: flex;
  gap: 0 5px;
}

.article-tile-heart-icon,
.article-tile-comment-icon {
  margin-left: 10px;
}

.article-tile-author-link {
  color: inherit;
  padding-left: 15px;
}

.header-login-button {
  padding-right: 50px;
}

.header-login-button button {
  background-color: #646cff;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  border: 1px rgb(0, 0, 0) solid;
}

.article-tile-thumbs-up-count {
  color: rgba(255, 255, 255, 0.87);
}
.all-articles-page-img-container {
  position: relative;
}

.all-article-topic-button {
  position: absolute;
  left: 1%;
  bottom: 1%;
}

.all-article-topic-button button {
  background-color: #646cff;
  margin-left: 8px;
  margin-bottom: 13px;
  font-size: 0.7rem;
  color: black;
  font-weight: bold;
  border: none;
}

.sort-by-container {
  width: 100%;
  text-align: left;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.sort-by-container label {
  margin-right: 10px;
  margin-left: 15px;
}

#sort {
  margin-right: 10px;
}

.triangle-order-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
}

.triangle-order-btn-container p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.triangle-icons {
  color: #646cff;
}

.upside-down {
  transform: rotate(180deg);
}
/*========= ARTICLE PAGE =========*/

#article-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#article-page-container img {
  width: 100%;
}

.loading-msg-container {
  display: flex;
  justify-content: center;
  padding-top: 40%;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
}

.article-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.like-dislike-button {
  display: flex;
  padding-right: 30px;
  gap: 0 10px;
  color: #646cff;
}

.like-dislike-button * {
  margin-bottom: 5px;
}

.article-page-author {
  color: #646cff;
  font-weight: bold;
}

.article-page-author-link {
  padding-left: 20px;
  color: inherit;
  font-weight: bold;
}

.article-body {
  text-align: justify;
  padding: 0 15px;
}

.article-comments-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.article-comments-container input {
  width: 60%;
  height: 35px;
  border-radius: 10px;
  border: 0px;
  background-color: #f3f3f3;
  padding-left: 5px;
  color: black;
  margin-left: 35px;
}

.comment-input-btn-container button {
  background-color: #646cff;
  color: black;
  font-weight: bold;
}

.comment-input-btn-container {
  display: flex;
  gap: 0 15px;
  align-items: center;
}

.comment-list div li {
  list-style-type: none;
}

.single-comment span {
  color: #646cff;
  font-weight: bold;
  /* float: right; */
  margin-right: 20px;
}
.single-comment p {
  color: #646cff;
  font-weight: bold;
  margin-bottom: 5px;
}

.single-comment {
  list-style-type: none;
  margin-bottom: 40px;
}

.comment-list {
  text-align: left;
  margin: 20px auto;
}

.comment-author-timestamp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-tile-heart-count {
  color: rgba(255, 255, 255, 0.87);
}

.comment-author-timestamp p {
  color: #646cff;
  font-size: 0.8rem;
}

.comment-like-dislike-button {
  display: flex;
  gap: 0 15px;
  align-items: center;
}
.article-page-vote-count {
  margin-top: 8px;
}

.article-page-vote-count span {
  font-size: 0.9rem;
}

.article-page-heart-error-msg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #646cff;
  /* border: 1px white solid; */
  border-radius: 15px;
}
.article-page-heart-error-msg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424dd;
  border: 1px #646cff solid;
  border-radius: 8px;
}

.article-page-heart-error-msg button {
  margin: 5px 5px;
  font-size: 0.7rem;
  background-color: #646cff;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
}

.article-page-heart-error-msg p {
  color: white;
  font-size: 0.9rem;
  margin: 10px 10px 5px 10px;
}

.article-page-heart-icon {
  margin-left: 10px;
}

/*========= LOGIN PAGE =========*/
.login-main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.login-main-content h1 {
  font-size: 1.3rem;
}

.login-main-content input {
  width: 60%;
  height: 5%;
  margin-bottom: 20px;
  text-align: center;
}

.invalid-username-error {
  margin-top: -10px;
  font-size: 0.9rem;
  color: #ff646c;
}

.login-main-content button {
  background-color: #646cff;
  color: black;
  font-weight: bold;
  border: none;
}

/*========= COMMENT PAGE =========*/

#comment-pop-up-error {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424dd;
  border: 1px #646cff solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comment-pop-up-error button {
  margin: 5px 5px;
  font-size: 0.7rem;
  background-color: #646cff;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  width: 50%;
}

#comment-pop-up-error p {
  color: white;
  font-size: 0.9rem;
  margin: 10px 10px 5px 10px;
  text-align: center;
}

.delete-btn-comment-container {
  display: flex;
  align-items: center;
}

.comment-delete-btn {
  margin-left: 20px;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 3px 6px;
  background-color: #ff646c;
  color: black;
  border: none;
}

.delete-btn-comment-container a p {
  margin-top: 10px;
}

.article-page-img-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.article-page-img-container img {
  height: auto;
}

.article-page-img-container button {
  position: absolute;
  bottom: 1%;
  left: 1%;
  background-color: #646cff;
  margin-left: 8px;
  margin-bottom: 13px;
  font-size: 0.7rem;
  color: black;
  font-weight: bold;
  border: none;
}

/*========= TOPIC PAGE =========*/
.alltopic-container {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 25px;
  gap: 0px 3px;
}
.alltopic-container button {
  display: flex;
  font-size: 0.75rem;
  border-radius: 5px;
  background-color: #646cff;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: black;
}

.alltopic-container p {
  margin: 0px;
  font-size: 0.9rem;
}
